@use "./reset.scss";
@use "./mixins.scss";

// Colors

$galacticBlue: #755cde;
$summerYellow: #f6a560;
$lightPink: #f39e9e;
$lightRed: #eb7565;
$cyan: #61c4b7;
$darkPurple: #552049;
$black: #030303;
$gray: #7a746e;
$lightCream: #fff7f0;
$white: #ffffff;

// Globals

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: $lightCream;
}

$font-xl: 56px;
$font-lg: 40px;
$font-md: 32px;
$font-sm: 18px;

$font-tablet-xl: 44px;

$font-mobile-xl: 36px;
$font-mobile-lg: 26px;
$font-mobile-md: 24px;
$font-mobile-sm: 16px;

$line-xl: 70px;
$line-lg: 51px;
$line-md: 40px;
$line-sm: 28px;

$line-tablet-xl: 55px;

$line-mobile-xl: 45px;
$line-mobile-md: 33px;
$line-mobile-sm: 26px;

button {
  width: 176px;
  height: 44px;
  border-radius: 28px;
  border: none;
  color: $lightCream;
  font-size: 0.875rem;
  cursor: pointer;

  @include mixins.md {
    width: 228px;
    height: 56px;
    font-size: 1rem;
    line-height: $line-sm;
  }
}

header,
footer,
.design,
.skills,
.artist,
.book {
  width: min(100% - 2rem, 1110px);
  margin-inline: auto;

  @include mixins.md {
    width: min(100% - 5rem, 1110px);
  }
}

// Header, Footer

.header,
.footer {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;

  @include mixins.md {
    align-items: center;
    margin-top: 2.125rem;
    margin-bottom: 4rem;
  }

  @include mixins.lg {
    margin-bottom: 4.125rem;
  }

  &__logo {
    max-height: 48px;
    margin-right: auto;

    @include mixins.md {
      max-height: 64px;
    }
  }

  &__button {
    background-color: $black;

    &:hover {
      background-color: $galacticBlue;
    }
  }
}

// Design

.design {
  text-align: center;
  margin-bottom: 2rem;

  @include mixins.md {
    margin-bottom: 4rem;
  }

  @include mixins.lg {
    margin-bottom: 5rem;
  }

  &__header {
    font-size: $font-mobile-xl;
    line-height: $line-mobile-xl;
    margin-bottom: 1rem;

    @include mixins.md {
      font-size: $font-tablet-xl;
      line-height: $line-tablet-xl;
      margin-bottom: 1.6875rem;
    }

    @include mixins.lg {
      font-size: $font-xl;
      line-height: $line-xl;
    }
  }

  &__description {
    font-size: $font-mobile-sm;
    line-height: $line-mobile-sm;
    color: $gray;
    padding-inline: 2rem;

    @include mixins.md {
      font-size: $font-sm;
      line-height: $line-sm;
      padding-inline: 3rem;
    }

    @include mixins.lg {
      padding-inline: 12rem;
    }
  }
}

// Skills

.skills {
  margin-bottom: 6.25rem;

  @include mixins.md {
    margin-bottom: 7.5rem;
  }

  @include mixins.lg {
    margin-bottom: 8.5rem;
  }

  &__list {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);

    @include mixins.md {
      grid-template-columns: 2fr 1fr 1fr;
    }

    @include mixins.lg {
      grid-template-columns: 2fr 1fr 1fr 2fr;
    }
  }

  &__item {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    color: $white;
    font-size: $font-mobile-md;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: top 24px right 24px;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;

    @include mixins.lg {
      max-height: 158px;
    }
  }

  .graphic {
    background-color: $galacticBlue;
    min-height: 22.75rem;
    background-image: url("../assets/pattern-graphic-design.svg");
    grid-column: span 2;

    @include mixins.md {
      grid-column: span 1;
      grid-row: span 2;
    }

    @include mixins.lg {
      grid-column: span 1;
      grid-row: span 2;
      max-height: 22.75rem;
    }
  }

  .ui {
    background-color: $summerYellow;
    background-image: url("../assets/pattern-ui-ux.svg");
    height: 11.375rem;

    @include mixins.md {
      max-height: 182px;
    }
  }

  .apps {
    background-color: $lightPink;
    background-image: url("../assets/pattern-apps.svg");
    height: 11.375rem;

    @include mixins.md {
      max-height: 182px;
    }
  }

  .illustrations {
    background-color: $lightRed;
    background-image: url("../assets/pattern-illustrations.svg");
    grid-column: span 2;
    min-height: 9.875rem;
  }

  .photography {
    background-color: $cyan;
    background-image: url("../assets/pattern-photography.svg");
    grid-column: span 2;
    min-height: 182px;

    @include mixins.md {
      grid-column: span 1;
    }

    @include mixins.lg {
      grid-column: 4;
      grid-row: 1;
    }
  }

  .motion {
    background-color: $darkPurple;
    background-image: url("../assets/pattern-motion-graphics.svg");
    grid-column: span 2;
    min-height: 182px;

    @include mixins.md {
      min-height: 158px;
    }

    @include mixins.lg {
      grid-column: 4;
      grid-row: 2;
    }
  }
}

// Artist

.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 6.25rem;

  @include mixins.md {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__portrait {
    max-height: 18.75rem;
    margin-bottom: 2.5rem;

    @include mixins.md {
      position: absolute;
      left: 138px;
      max-height: 22.75rem;
      margin-bottom: 0;
      transform: translate(-50%, -50%);
    }

    @include mixins.lg {
      position: relative;
      max-height: 27.8125rem;
      left: 0;
      transform: none;
    }
  }

  &__info {
    @include mixins.md {
      text-align: left;
      grid-column: 2;
    }
  }

  &__heading {
    font-size: $font-mobile-lg;
    line-height: $line-mobile-md;
    padding-inline: 1px;
    margin-bottom: 1.5rem;

    @include mixins.md {
      font-size: $font-md;
      line-height: $line-md;
    }

    @include mixins.lg {
      font-size: $font-lg;
      line-height: $line-lg;
      margin-bottom: 2.125rem;
      padding-right: 1rem;
    }
  }

  &__description {
    color: $gray;
    line-height: $line-mobile-sm;
    margin-bottom: 1.5rem;

    @include mixins.md {
      font-size: $font-sm;
      line-height: $line-sm;
    }

    @include mixins.lg {
      margin-bottom: 2rem;
    }
  }

  &__button {
    background-color: $lightRed;

    &:hover {
      background-color: $summerYellow;
    }
  }
}

// Work

.work {
  text-align: center;
  margin-bottom: 5.3125rem;

  @include mixins.md {
    margin-bottom: 7rem;
  }

  @include mixins.lg {
    margin-bottom: 5rem;
  }

  &__heading {
    font-size: $font-mobile-md;
    line-height: 1.875rem;
    margin-bottom: 2rem;

    @include mixins.md {
      font-size: $font-md;
      line-height: $line-md;
      margin-bottom: 3.5rem;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-color: $black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover {
    background-color: $galacticBlue;
  }
}

.swiper-button-prev {
  margin-right: 1rem;
  background-image: url("../assets/icon-arrow-left.svg");
}

.swiper-button-next {
  background-image: url("../assets/icon-arrow-right.svg");
}

.swiper-wrapper {
  margin-bottom: 2rem;
  @include mixins.md {
    margin-bottom: 3.5rem;
  }
}

.swiper-slide {
  border-radius: 10px;
}

.swiper-slide img {
  width: 100%;
  max-width: 33.75rem;
  border-radius: 10px;
}

// Book

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $black;
  color: $lightCream;
  min-height: 22rem;
  border-radius: 10px;
  margin-bottom: 2.5rem;

  @include mixins.md {
    margin-bottom: 3.5rem;
  }

  @include mixins.lg {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    min-height: 20rem;
  }

  &__info {
    @include mixins.lg {
      padding-left: 4rem;
    }
  }

  &__heading {
    font-size: $font-mobile-lg;
    line-height: $line-mobile-md;
    margin-bottom: 1.5rem;

    @include mixins.md {
      font-size: $font-lg;
      line-height: $line-lg;
    }
  }

  &__description {
    line-height: $font-mobile-lg;
    padding-inline: 1.25rem;
    margin-bottom: 1.5rem;

    @include mixins.md {
      font-size: $font-sm;
      line-height: $line-sm;
      padding-inline: 4rem;
    }

    @include mixins.lg {
      padding: 0;
      max-width: 34.375rem;
    }
  }

  &__button {
    background-color: $lightRed;

    &:hover {
      background-color: $summerYellow;
    }

    @include mixins.lg {
      margin-right: 5.9375rem;
    }
  }
}

// Footer

.footer {
  margin-bottom: 2rem;

  @include mixins.md {
    margin-bottom: 3.5rem;
  }

  &__button {
    &:hover {
      background-color: $galacticBlue;
    }
  }
}
